/MedAssist/target/
/Backend/target/
/backend/nbproject/private/
/backend/build/
/backend/dist/
/Backend/nbproject/private/
/Backend/build/
/Backend/dist/
/FrontEnd_test/nbproject/private/
/Web/target/